@page "/"

<PageTitle>Inicio</PageTitle>

<h2>Bienvenidos al Sistema de Gestión Académica del Instituto Superior de Profesorado Nº20</h2>

<p>Este proyecto es el resultado del esfuerzo colaborativo de los alumnos de 3er año de la Tecnicatura Superior en Desarrollo de Software. Diseñado y desarrollado con tecnología Blazor, este sistema tiene como objetivo modernizar y facilitar la gestión académica de nuestra institución.</p>

<p>En esta plataforma, estudiantes, docentes y directivos podrán:</p>

<p>Consultar y gestionar horarios de clases.
Administrar mesas de exámenes de manera ágil y organizada.
Inscribirse a materias y exámenes de forma rápida y sencilla.
Este sistema refleja el compromiso de nuestros alumnos con el aprendizaje y el desarrollo de soluciones prácticas para necesidades reales, demostrando cómo la tecnología puede integrarse para mejorar la gestión educativa.</p>

<p>¡Gracias por ser parte de este avance en nuestra comunidad académica!</p>
