@if(inscripcion!=null)
{
    var materiasAgrupadasPorAnio = inscripcion.detallesInscripciones.OrderBy(m => m?.Materia?.AnioCarreraId).ThenBy(m => m?.Materia?.Nombre).GroupBy(m => m?.Materia?.AnioCarreraId);

    <h2>Inscripción de: @inscripcion?.Alumno?.ApellidoNombre</h2>
    <h3>Carrera: @inscripcion?.Carrera?.Nombre</h3>
    <p>Fecha de inscripción: @inscripcion?.Fecha.ToShortDateString()</p>
    <p>Periodo de inscripción: @inscripcion?.PeriodoInscripcion?.Nombre</p>
    <hr />
    <h3>Materias inscriptas</h3>
    foreach (var grupo in materiasAgrupadasPorAnio)
    {
        var primeraMateria = grupo.First();

        <table class="table table-striped table-hover" style="width:100%">
            <thead class="table-dark">
            <tr>
                    <th style="background-color:lightgray; color:black; text-align:left">@primeraMateria.Materia.AnioCarrera.Nombre</th>
            </tr>
            </thead>
            <tbody style="border:solid 1px #000">
            @foreach (var inscripcion in grupo)
            {
                <tr>
                        <td >@inscripcion.Materia.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
    }
}

@code {
    [Parameter]
    public Inscripcion inscripcion { get; set; }
}
