@page "/perfilusuario"
@using InstitutoServices.Models.Login

@inject NavigationManager NavigationManager
@inject AuthenticationService AuthService
@inject IUsuarioService usuarioService
@inject IUsuarioStateService usuarioStateService


@inject SweetAlertService SweetAlert
@inject ILogger<PerfilUsuario> logger

<PageTitle>Perfil de Usuario</PageTitle>


@if (usuarioStateService.FirebaseUser == null)
{
    <p><em>Cargando información del usuario...</em></p>
}
else
{
    <h3>Hola @usuarioStateService.FirebaseUser.DisplayName</h3>
    @if(usuarioStateService.Usuario==null&&tipoUsuario==0)
    {
        <p><em>Eres un nuevo usuario, necesitamos completar tu perfil selecciona el tipo de usuario que eres</em></p>
        <ListCardEnum EnumType="typeof(TipoUsuarioEnum)" TituloCard="Tipo de Usuario" OnSeleccionar="HandleSeleccionarTipoUsuario" />
    }
    else
    {
        <UsuarioData usuario="@usuarioStateService.Usuario" usuarioFirebase="@usuarioStateService.FirebaseUser" tipoUsuario="@tipoUsuario" />
    }
           

}

@code {

    TipoUsuarioEnum tipoUsuario { get; set; } 


    protected override void OnInitialized()
    {
        //usuario = await usuarioService.GetUserByEmail(userFirebaseAuthenticate?.Email);
        if (usuarioStateService.Usuario != null)
        {
            tipoUsuario = usuarioStateService.Usuario.TipoUsuario;
        }
        //logger.LogInformation($"usuario={usuario?.PropertiesToString()}");

        usuarioStateService.OnChange += ChequeoEstadoLogin;



    }
    public void ChequeoEstadoLogin()
    {
        if (usuarioStateService.Usuario == null)
        {
            NavigationManager.NavigateTo("/login");
        }else
        StateHasChanged();
        
    }


    private void HandleSeleccionarTipoUsuario(Enum value)
    {
        if (value is TipoUsuarioEnum tipoUsuario)
        {
            this.tipoUsuario = tipoUsuario;
        }
    }


}
